{% load static %}
<nav>
    <a href="https://www.it.kmitl.ac.th/th/" target="_blank">
        <img class="it-logo" src="{% static 'img/IT logo.svg' %}">
    </a>
    <div class="easybook-logo">
        <a href="https://github.com/KhanunKup/PSCP-PROJECT-Y1" target="_blank" style="text-decoration: none;">
        <span style="color: #2255A4; text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);">EASY</span><span style="color: #FE6612; text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);">BOOK</span>
        </a>
    </div>
</nav>