body {
  margin: 0;
	font-family: Outfit,Arial, Helvetica, sans-serif;
}

.home-section {
  padding-top: 3.125rem;
  padding-left: 5.3125rem;
  padding-right: 5.3125rem;
}

nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5rem;
}

.it-logo:hover {
  cursor: pointer;
  opacity: 0.7;
}

.easybook-logo:hover {
  cursor: pointer;
  opacity: 0.7;
}

.hero {
	display: flex;
  flex-wrap: wrap;
	margin-left: 5.3125rem;
  margin-bottom: 6.25rem;
	align-items: center;
	justify-content: space-between;
}

.hero-text {
	width: 47rem;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 4.5rem;
	font-weight: 700;
	line-height: normal;
}

.hero-decoration {
  width: 100%;
	max-width: 476px;
}

.room-select {
  display: flex;
  flex-wrap: wrap;
  margin-left: 85px;
  margin-right: 85px;
  margin-bottom: 6.25rem;
  align-items: center;
  justify-content: space-between;
}

.room-select-decoration {
  width: 444px;
  height: 502px;
  flex-shrink: 0;
}

.room-select-text {
  width: 540px;
}

.main-room-select-text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Outfit;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sub-room-select-text {
  font-family: Outfit;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.operate-section {
  display: flex;
  row-gap: 5.625rem;
  flex-wrap: wrap;
  margin-left: 4.75rem;
  margin-right: 4.75rem;
  margin-bottom: 6.25rem;
  justify-content: space-between;
}

.room-pic {
  position: relative;
  width: 100%;
  max-width: 37.5rem;
  height: auto;
}


footer {
  padding: 1rem;
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-left: 5.3125rem;
  padding-right: 5.3125rem;
  justify-content: space-between;
  background-color: #2255A4;
}

.authour {
  display: flex;
  
}

.authour-spec {
  
  cursor: pointer;
  margin-left: 0.625rem;
}

a {
  color: #FE6612;
}